**/bin/
**/obj/

.vs/
.vs2019/
.vs2017/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log

.nuget/
packages/
*.nupkg

**/testresults/
**/coverage/

*.tmp
*.bak
*.swp

.docker/

appsettings.Development.json

global.json

tasks.txt